{% extends "customer/layout.html" %}
{% block body %}
<div class="container">
    <h2>Ticket: {{ticket.title}}</h2>
    <p><strong>User:</strong>{{ticket.user.username}}</p>
    <p><strong>Category:</strong>{{ticket.category}}</p>
    <p><strong>Description:</strong>{{ticket.description}}</p>
    <p><strong>Status:</strong>{{ticket.status}}</p>

    {% if ticket.status == "Open" %}
        <form method="post">
            {%csrf_token%}
            <div class="form-group">
                <label for="response">Response:</label>
                <textarea class="form-control" id="response" name="response" rows="5"></textarea>
                
            </div>
            <button type="submit" class="btn btn-success mt-2">Submit Response</button>
            
        </form>
        {% else %}
        <p><strong>Response:</strong>{{ticket.response}}</p>
    {% endif %}
</div>
{% endblock %}